body{
    background: url('images/educational-background.jpg');
    display: flex;
    align-items: center;
    flex-direction: column;
}
.box{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container p{
    opacity: 0.7;
    color: wheat;
}
.button{
    position: absolute;
    font-size: 2rem;
    top: 1rem;
    left: 1rem;
    color: rgb(187, 184, 184);
    text-decoration: none;
    cursor: pointer;
}